<header class = "header-nav">
    <nav class = non-hamburger-nav-bar>
        <div class = nav1>
            <a class = "nav-bar-link" href = "\">Myface</a> 
        </div>
        <div class = nav2>
            <a class = "nav-bar-link" href="/posts"> Home</a>
            <a class = "nav-bar-link" href="/posts"> Posts</a>
            <a class = "nav-bar-link" href="/users">Users</a>
        </div>
        <div class = nav3>
            <a class = "nav-bar-link" href="/posts/create">+ New Post</a>
        </div>
    </nav>
</header>